<div class="container">
  <div class="form-group">
    <h3 class="home-text">Upload a CSV file</h3>
    <div class="form-container">
      <%= form_with url: import_user_files_path, method: :post, class: "file-input" do |form | %>
        <%= form.file_field :file, accept:".csv" %>
        <%= form.button "import", class: "btn btn-primary"%>
      <% end %>
    </div>
    <% if params[:user_file_id].present? %>
        <% user_file = UserFile.find(params[:user_file_id]) %>
        <p>
          File Name: <%= user_file.file_name %><br>
          <%= link_to "View Show", user_file_path(user_file) %>
        </p>
      <% end %>
  </div>
</div>
